.Rproj.user
.Rhistory
.RData
.Ruserdata

NoUpload
Code/Twitter Descriptive/data/test.json
test
Code/Twitter Descriptive/testing/test_load_file_json.R
Code/Twitter/twint_ohne_loop.py
Code/Sentiment/Shiny_code/__pycache__/tweet_collector.cpython-37.pyc
Code/Sentiment/Shiny_code/__pycache__/get_date.cpython-37.pyc
Code/Twitter Descriptive/repalce_emojis.py
Code/Twitter Descriptive/test_stemmers.R
Code/Twitter Descriptive/1_df_loader.R
